body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

h1 {
  color: #4a4a4a;
}

p {
  color: #434a54;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
