const blogGrid = css`
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .blogPost {
    padding: 0 15px 30px;
    background-color: #fff;
  }

  > div {
    
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }

  img {
    max-width: 33%;
    max-height: 33%;
  }

  a {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none !important;
  }
`;